<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <%= f.label 'メールアドレス' %>
  <%= f.email_field :email %>

  <%= f.label 'パスワード' %>
  <%= f.password_field :password %>

  <%= f.submit "ログイン" %>
<% end %>
