<section class="bg-light" id="portfolio">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h5 class="section-heading text-uppercase"><%= @user.name %>のお気に入り一覧</h5>
        <h6 class="notice"><%= notice %></h6>
      </div>
    </div>

    <div class="row">
<!-- loop for Portfolio -->
<% @favorite_pictures.each do |picture| %>
      <div class="col-md-4 col-sm-6 portfolio-item">

        <a class="portfolio-link" href="<%= picture_path(picture.id) %>">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag(picture.image.thumb.url, class: "img-fluid idx-w") %>
        </a>

        <div class="portfolio-caption">
          <p><%= picture.comment %></p>
          <ul class="list-inline">
            <li>更新日: <%= picture.updated_at %></li>
            <li>投稿者: <%= picture.user.name %></li>
            <li>
              <% if !picture.user.avatar.thumb.file.nil? \
                 &&  picture.user.avatar.thumb.file.exists? %>
              <%= image_tag(picture.user.avatar.thumb.url) %>
              <% else %>
              <%= image_tag("/assets/no_image.png") %>
              <% end %>
            </li>
          </ul>
          <div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "お気に入り解除する", favorite_path(id: picture.id), \
                    method: :delete, class: 'btn-danger nav-link' %>
              </li>
            </ul>
          </div>
        </div>

      </div>
<% end %>
<!-- loop for Portfolio -->
    </div>

  </div>
</section>
