<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>アイコン画像:</p>
<% if @user.avatar.url %>
  <p><%= image_tag(@user.avatar.url) %></p>
<% else %>
  <p><%= image_tag("/assets/no_image.png") %></p>
<% end %>

<div class="picture-links">
  <%= link_to "お気に入りのpictureの一覧", \
      user_favorite_pictures_path(user_id: @user.id), \
      class: 'btn-default' %>
</div>
