<div class="portfolio-modal modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">

              <p class="item-intro text-muted"><%= @picture.comment %></p>

              <% if @picture.image.url %>
              <p><%= image_tag(@picture.image.url, class: "img-fluid d-block mx-auto") %></p>
              <% end %>

              <ul class="list-inline">
                <% unless @picture.user == current_user %>
                  <% if @favorite.present? =%>
                    <li><%= link_to "お気に入り解除する", favorite_path(id: @picture.id), \
                                     method: :delete, class: 'btn-danger' %></li>
                  <% else %>
                    <li><%= link_to "お気に入りする",    favorites_path(id: @picture.id), \
                                     method: :post, class: 'btn-primary' %></li>
                  <% end %>
                <% end %>
                <li><%= link_to "投稿一覧にもどる", pictures_path %></li>
              </ul>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

