<h1>ブログ詳細画面</h1>
<p>内容: <%= @picture.comment %></p>
<% if @picture.image.url %>
  <p>画像:</p>
  <p><%= image_tag(@picture.image.url) %></p>
<% end %>

<% unless @picture.user == current_user %>
  <% if @favorite.present? =%>
    <%= link_to "お気に入り解除する", favorite_path(id: @picture.id), \
        method: :delete, class: 'btn-danger' %>
  <% else %>
    <%= link_to "お気に入りする",    favorites_path(id: @picture.id), \
        method: :post, class: 'btn-primary' %>
  <% end %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", pictures_path %>
