<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ph3app</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="" style="">

  <!-- nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink" id="mainNav" -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="">
    <div class="container">

      <%= link_to "Ph3app", '/', class: 'navbar-brand' %>

      <!-- button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="" -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>

      <!-- div class="navbar-collapse collapse" id="navbarResponsive" style="" -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- ul class="navbar-nav ml-auto" -->
        <ul class="navbar-nav text-uppercase ml-auto">
<% if logged_in? %>
          <li class="nav-item">
            <%= link_to "プロフィール", user_path(current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", session_path(current_user.id), class: 'nav-link', method: :delete %>
          </li>
<% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "登録", new_user_path, class: 'nav-link' %>
          </li>
<% end %>
          <li class="nav-item">
            <%= link_to "一覧表示", pictures_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿", new_picture_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>

      <div class="mn-012"></div>

    </div>
  </nav>

  <!-- main class="main01 main02 " role="main">
    <div class="main11" -->
<%= yield %>
    <!-- /div>
  </main>
  <footer class="ft-00">
    <div class="ft-01 ft-02">&copy; Dive into Code test application</div>
  </footer -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <span class="copyright">&copy; Dive into Code test application</span>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
